.barre-recherche{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.bouton-recherche{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.bar-gauche{
    -fx-background-color: #515151;	
}

.ombre-recherche{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.choix-lego-gauche{
    -fx-background-color: #98F0A4;
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.titre-page-accueuil{
	-fx-background-color: red;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family:Cambria;
	-fx-font-size:64;
}

	

.lego-catalego{
	-fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}

.police-page-jeu{
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-family:Cambria;
	-fx-background-color: #FFFFFF;
    	-fx-background-radius: 100;
	-fx-font-size:20;
}

.police-page-catalego{
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-family:Cambria;
	-fx-font-size:64;
}

.add-btn-catalego{
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-family:Cambria;
	-fx-font-size:64;
    	-fx-background-color: #FFFFFF;
    	-fx-background-radius: 100;
}
